@charset "UTF-8";
	.high-light-0{ background: yellow;}
	.high-light-1{ background: orange;}
	.high-light-2{ background: blue;}
	.high-light-3{ background: green;}
	.high-light-4{ background: red;}